[phases.setup]
nixPkgs = ['nodejs-18_x']

[phases.install]
cmds = [
    'npm install',
    'cd backend && npm install'
]

[phases.build]
cmds = [
    'ng build --configuration production',
    'cd backend && npm run build'
]

[start]
cmd = 'cd backend && npm start'

[variables]
NODE_ENV = 'production'