[phases.setup]
nixPkgs = ['nodejs-18_x']

[phases.install]
cmds = [
    'npm install',
    'cd backend && npm install'
]

[phases.build]
cmds = [
    'npx ng build --configuration production --output-path dist/nombre-proyecto --no-prerender',
    'ls -la dist/',
    'ls -la dist/nombre-proyecto/',
    'find dist/nombre-proyecto -name "*.html"',
    'cd backend && npm run build'
]

[start]
cmd = 'cd backend && npm run start:prod'

[variables]
NODE_ENV = 'production'