[phases.setup]
nixPkgs = ['nodejs-18_x']

[phases.install]
cmds = [
    'npm install',
    'cd backend && npm install'
]

[phases.build]
cmds = [
    'npx ng build --configuration production',
    'ls -la dist/',
    'cd backend && npm run build'
]

[start]
cmd = 'cd backend && npm run start:prod'

[variables]
NODE_ENV = 'production'